h1{
    display: inline-block;
    height: 100px;
    width: 200px;
    border: 2px solid green;
}

div{
    width: 400px;
    height: 200px;
    border: 2px solid red;
    display: inline-block;
}

img{
    display: block;
}

a{
    display: inline-block;
    height: 100px;
    width: 200px;
    border: 2px solid red;
}