@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+Chorasmian&family=Nunito+Sans:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&family=Noto+Sans+Chorasmian&family=Nunito+Sans:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&family=Noto+Sans+Chorasmian&family=Nunito+Sans:wght@300&family=Roboto&family=Rubik&display=swap');
:root{
    --varfor-fontFamily:'Rubik', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--varfor-fontFamily);

    list-style: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
}

body{
    /* overflow: hidden; */
    /*  */
    /* background-color: hsl(225deg 19.51% 16.08%) ; */

}

section{
    overflow: hidden;
}

/* header section  */

header{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
     height: 50px;
     /* border: 2px solid red; */
     background-color: white;
     padding:0 20px;
    
}

.nav ul{
    display: flex;
    color: black;
    
}

.logo{
    font-size: 20px;
}

.logo i{
    padding-right: 10px;
}
.logo a{
    font-weight:bold;
}
.nav ul li a{
    color: black;
    font-size: 15px;
    
}

.nav ul li {
    margin: 0 1rem;
    color: black;
    font-weight: 500;
}

.nav ul li:hover{
    transform: scale(1.2);
    font-weight: bold;
}

/* header section end  */


/* hero section */

.hero{
    display: flex;
    min-height: 100vh;
    background-image: url(https://codewithsadee.github.io/foodie/assets/images/hero-bg.jpg);
    align-items: center;
    /* padding: 5rem 10rem;
    background-color: hsl(225deg 19.51% 16.08%) ; */
}

.herodata{
    width: 40vw;
}

img{
    height: auto;
}

.herotext{
    font-size: 7rem !important;
    font-weight: 900 !important;
    color: hsl(23, 61%, 86%);
    max-width: 12ch !important;
    letter-spacing: -2.5px;
    line-height: -2.5px !important;
}

.heropara{
    font-size: 1.6rem !important;
    color: #f1d6c6 !important;
}

#herophoto{
    position: absolute;
    bottom: 40px;
    right: 0;
}

.heroburger{
    position: relative;
}
.tagline{
    flex: 1 1 40rem;
}

.images{
    flex: 1 1 25rem;

}

.tagline h2{
    font-size: 6.5rem;
    font-weight: bold;
    color: white;
    font-family: 'Lilita One', cursive;
}

.yellow{
    color: yellow;
}

.tagline h3{
    font-size: 6rem;
    font-weight:bold;
    color: white
    ;
}

.tagline p{
    color: white;
}

.orderBtn{
    height:2.5rem;
    width:12rem;
    border: 2px solid white;
    margin-top: 10px;
    padding: 0 18px 0;
}

.orderBtn a{
    font-size: medium;
    color:white;
}

.orderBtn:hover{
    background-color: white;
    

}

.orderBtn a:hover{
    color: black;
}

.images img{
    width: 90%;
    height: 90%;
}

.align{
    width: 1024px;
    border: 2px solid red;
    margin: 0 auto;
}

.foodsection{
 background-color: hsl(40deg 42.86% 95.88%);
 /* border:  2px solid orange */
};


/* banner css */
.iconstyle {
    /* border-radius: 50%; */
    font-size: 2rem;
}

.iconspan{
    font-size:2rem;
    font-weight: 600;
    color: #0d1216;
    padding-left:10px;
}

.bannerlist{
    margin-block: 15px 25px
}
.bannerlist li {
    margin: 10px 0;
}

.foodimge{
    max-width: max-content;
    margin-inline: auto;
}

#discountimg{
    position: absolute;
    top: 0;
    left: 100px;
    animation:scaleup 1s linear infinite alternate;
    
    
}


@keyframes scaleup {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

   
 /* menu data  */

.foodItems{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    /* border: 2px solid green; */

}

.anotherfood{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding:20px 0;
    
    /* border: 2px solid green; */
}

#foodguide{
    max-width: 44ch;
    margin-inline: auto;
    margin-block-end: 30pxs
}




.foodItems div{
    width: 30%;
    height:45rem;
    box-shadow:  0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    padding: 40px;
    /* border: 2px solid red; */
}

.foodItems div img{
    width: 100%;
    display: block;
    margin-bottom: 2rem;
}

.fhead{
    font-weight: 500;
    text-align: center;
    color: red;
    font-size: 2rem;

}

.rating i{
    color: yellow;
}

.fhead + h2{
    font-size: 3.2rem;
    font-weight: 600;
    text-align:  center;
    margin-top: 1rem;
}


.fhead + h2 + p {
    color:#f42f25;
    text-align: center;
    font-size:1.5rem ;
    margin-top: 1rem;
}


.fhead + h2 + p + div{
   display: flex;
   justify-content: center;
   gap: 10px;
   margin-top: 1rem;
}

.fhead + h2 + p + div button{
    background-color: white;
    font-weight:800;
    font-size:large;
    padding:.7rem;
    border:2px solid hsl(40deg 42.86% 95.88%);
    
} 

.fhead + h2 + p + div button:nth-child(1){
    background-color: orange;
    color: white;
}


.aboutfood{
    padding-top: 20px;
}




.foods{
    color: hsl(32, 100%, 59%);
}

.foodName{
    font-size: 1.5rem;
    font-weight: 650;
    display: inline-block;
    color: hsl(0deg 0% 47.06%);

}

.rating {
    display: inline-block;
    margin-left: 5rem;
}
.rating i{
    font-size:1.5rem ;
  
}

.adtitle{
    font-weight: 900;
    font-size: 2rem;
    margin: 16px 0 10px 0;
}

.adtitle + p{
    color: #f42f25;
    font-size: 1.5rem;
    font-weight: 900;
}

.adtitle + p span{
    color: orange;
}

del{
    text-decoration: line-through;
    color: silver;
}

.foodguide{
    margin:20px;
}


/* section oredr ads */

.cycle{
    padding:60px
}
.orderAd{
    display: flex;
    gap: 60px;

}

.cycleimg img{
    width: 100%; 
}


.textdata{
    width: 40vw;
    /* border: 2px solid red; */
    /* display: flex;
    flex-direction: column; */
    /* gap: 1rem; */
    /* align-items: center; */
    /* justify-content: center; */
}

.textdata h2{
    font-size: 3.2rem;
    line-height: 1.6;
    letter-spacing: -2px;
    font-weight: 600;
    max-width: 17ch;
}
.textdata p{
    color: #787878;
    line-height: 1.6;
    font-size: 1.6rem;
    margin-block: 15px 25px;
}

.textdata button{
    background-color: orange;
    color: white;
    font-family: var(--varfor-fontFamily) ;
    font-size: 1.4rem;
    font-weight:600;
    height:45px;
    width:15rem;
    /* margin-top: 5rem; */
    outline: none;
    border: none;
}
.cycleimg{
    position: relative;
    aspect-ratio:1/0.86;
}
.cycleimg img:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-80px);
    transition: 0.5s ease;
}



/* section reviews */


.reviews{
    display: flex;
    gap: 10px;
    width: 100%;
    padding:2rem 0;

}

.sizereview{
    width: 33%;
    padding: 40px;
    /* border: 2px solid red; */
    box-shadow:  0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: white;
   
}

.imgProfile{
    display: flex;
    /* border: 2px solid yellow; */
    width: 100%;
}

.imgProfile img{
    border-radius:50% ;
    width:80px;
   
}


.imgProfile div{
    width: fit-content;
    /* border: 2px solid green; */
}

.profiletext{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* align-content: center; */
    justify-content: center;
    margin-left: 10px;
}

.breakpara{
    margin-top: 2rem;
}

.breakpara p {
    font-size: 1.6rem;
    text-align: left;
    line-break: auto;
    color:#787878 ;
    line-height: 1.6;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.commentpara{
    color: #787878 !important ;
    
}

.reviewsection{
    background-color: #f9f6f0;
}

.testimonial{
    padding-top: 1rem;
}

.arrngestar{
    margin-left: 0;
    padding-top: .8rem;
}


/* footer  */

.footerdata{
    display: flex;
}


.aboutweb{
    width: 25%;
    /* border: 2px solid green; */
}


.footer{
    background-image: url(https://codewithsadee.github.io/foodie/assets/images/footer-illustration.png);
    position: relative;
    padding-block: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    border-block-end: 2px solid hsla(245, 17%, 29%, 0.3);
    /* border: 2px solid ; */
}

.socialhandle li {
    display: inline-block;
    margin-inline:1px;
}

.socialhandle li a {
    display:inline-block;
    background-color: orange;
    color: white;
    font-family: var(--varfor-fontFamily) ;
    /* font-size: 2rem; */
    font-weight:600;
    /* margin-top: 5rem; */
    outline: none;
    border: none;

}

.socialhandle li a i {
    font-size: 2.3rem;
    padding: 2px;
    
}

#aboutparafooter {
    margin-block: 15px 25px;
    font-size: 1.5rem;

}

.footer-list > li:not(:last-child) {
    margin-block-end: 15px;
}

.footer-list-title {
    position: relative;
    max-width: max-content;
    color: #0d1216;
    font-family: var(--varfor-fontFamily);
    font-size:1.8rem;
    font-weight: 600;
    letter-spacing: -1px;
    margin-block-end: 20px;
}

.footer-form{
    display: flex;
    width:80%;
    flex-direction: column;
    /* border: 2px solid red; */

}

.input-wrapper{
    /* width: 100%; */
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-block-end: 10px;
}

.input-wrapper input{
    width: calc(50% - 5px);
    color: gray;
    font-size: 1.4rem;
    border: 1px solid hsl(0, 0%, 93%);
    padding: 8px 12px;
}

.footer-form{
    background-color: #ffff;
    padding: 30px;
    border: 1px solid #ededed;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2);
}


.footer-form button {
    background-color: orange;
    color: white;
    font-family: var(--varfor-fontFamily) ;
    font-size: 1.4rem;
    font-weight:600;
    height:25px;
    width:10rem;
    margin-top: 2rem;
    outline: none;
    border: none;
}

.lastform{
    width: 35%;
    /* height: 20vh; */
}


.input-field{
    width: calc(50% - 5px);
    color: gray;
    font-size: 1.4rem;
    border: 1px solid hsl(0, 0%, 93%);
    padding: 8px 12px;
}


.copyright-text{
    text-align: center;
    margin-block:10px ;
}

.footer::after{
    content: url(https://codewithsadee.github.io/foodie/assets/images/delivery-boy.svg);
    position: absolute;
    bottom: -11px;
    left: -160px;
    width: 160px;
    animation: running-cycle 10s linear infinite;
    /* animation-fill-mode: forwards; */
}

@keyframes running-cycle {
    0%{
        left: 0%;
    }
    10%{
        left: 10%;
    }
    20%{
        left: 20%;
    }
    30%{
        left: 30%;
    }
    40%{
        left: 40%;
    }
    50%{
        left: 50%;
    }
    60%{
        left: 60%;
    }
    70%{
        left: 70%;
    }
    80%{
        left: 80%;
    }
    90%{
        left: 90%;
    }

    100%{
     left: 100%;
    }
}










